.menu-bar { 
	-fx-padding: 5px;
	-fx-background-color: #a80000;
	-fx-effect: dropshadow(three-pass-box, black, 2, 0, 0, 0);
}

.menu {
	-fx-padding: 5px;	
	-fx-margin: 15px;
	-fx-background-color: #a80000;
	-fx-text-fill: white;
	-fx-border-width: 1px;
	-fx-background-radius: 5.0;
}

.menu:showing { 
	-fx-background-radius: 5px;
}


.menu .label { 
	-fx-font-size: 1.2em;	
	-fx-text-fill: #dadada;
}

.menu:showing .label { 
	-fx-font-size: 1.2em;
	-fx-text-fill: #fff;	
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.menu-item:focused {
     -fx-text-fill: white;
     -fx-background-color: #ff6c6c;
}

.menu-item:hover {
	-fx-text-fill: white;
	-fx-background-color: #f74f4f;;
}


.menu-item:focused .label {
    
}

.context-menu {
    -fx-background-color: #f87474;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

#formContainer {
	-fx-margin: 10px;
	-fx-padding: 10px;
	-fx-background-color:  linear-gradient(to bottom, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
	-fx-background-radius: 5px;
}

#formContainer TextArea .content {
	-fx-background-radius: 5px;
	-fx-background-color: #f87474;
}

TextField {
	-fx-background-radius: 5px;
	-fx-background-color: #f87474;
	-fx-text-fill: #fff;
}

TextArea .content {
	-fx-background-color: #000;
	-fx-border-radius: 25px;
}

TextArea {
	-fx-color: #000;
	-fx-text-fill: #00ff00;
}

BorderPane {
	-fx-background-radius: 5.0;
	-fx-background-color: #000;
	-fx-border-color: #000000;
}